{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Eventos</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 

  <style>
    body {
        font-family: Arial;
        font-style: italic;
        background-color: black;
        color: rgb(0, 0, 0);
      }    

    hr{  
    background-color: rgb(255, 0, 0);
    }

    h1{
        font-family: fantasy;
        text-align: center;
        color:white;     
    }
    #boton{
      background-color: rgb(10, 6, 6);
      color: white;
    }  
  </style>

</head>
<body>
  <hr>
 
  <br>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="container" >   
    <br>
    <hr>
    <h1>Eventos</h1>
    <hr>
    <br>
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            
  {% load static %}
            <a href="descEventos.html"><img class="card-img-top"  src="img/corporativo1.jpg" >  </a>          
            <div class="card-body">
              <h4 class="card-title">Eventos Corporativos</h4>
              <p class="card-text">Contamos con ambientes ideales para realizar diversos tipo de actividades como: 
                                    seminarios, capacitaciones, fiestas corporativas, ferias laborales, etc.</p>
              <a href="tipo_eventos.html" id="boton" class="btn btn-primary">Ver Menú</a>
            </div>
          </div>          
      </div>

     <div class="col-md">      
      <div class="card">
        <div class="card-body">
              <h4 class="card-title">Eventos Sociales</h4>
              <p class="card-text">Ponemos a vuestra disposición toda nuestra infraestructura para que tus invitados
                                    disfruten de una celebración insuperable!. Puedes Celebrar: Matrimonios, Graduaciones,
                                    Cumpleaños, Bautizos, Fiestas Tematicas, Pool Party, entre otras.</p>
              <a href="tipo_eventos.html" id="boton"  class="btn btn-primary">Ver Menú</a>
            </div>
            
  {% load static %}
            <a href="tipo_eventos.html"><img class="card-img-bottom" src="img/social1.jpg"></a>                       
          </div>          
      </div>

      <div class="container"> 
        <br>  
        <hr>
        <h1>Banqueteria</h1>
        <hr>
        <br>
        <div class="row">       
          <div class="col-md">        
              <div class="card">
                
  {% load static %}
                <a href="tipo_eventos.html"><img class="card-img-top" src="img/cateringempresa.jpg"></a>            
                <div class="card-body">
                  <h4 class="card-title">Catering Corporativo</h4>
                  <p class="card-text"> Para acompañar todas tus actividades contamos con variados menus:
                                        para tus almuerzos, cenas, cóctel, coffe break, entre otras.
                                        </p>
                  <a href="tipo_eventos.html" id="boton" class="btn btn-primary">Ver Menú</a>
                </div>
              </div>          
          </div>

          <div class="col-md">        
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Menú Matrimonios y otras celebraciones</h4>
                <p class="card-text">Tú eliges: Almuerzos, cenas, cóctel, entre otras.
                                      </p>
                <a href="tipo_eventos.html" id="boton" class="btn btn-primary"  >Ver  Menú</a>
              </div>


              
              
  {% load static %}
              <a href="tipo_eventos.html"> <img class="card-img-top"  src="img/menumatri.jpg"></a>                     
            
            </div>          
        </div>
       
    </div>
  </div>
</div>

</body>

</html>